
<div class="mt-5">
    <h1 class="mb-4">New Employee</h1>
    
    <%= link_to 'Back to Employees', employees_path, class: 'btn btn-secondary mb-3' %>
    
    <%= form_with model: @employee, local: true do |form| %>
    <div class="row">
        <%# First Name %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Middle Name %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :middle_name %>
            <%= form.text_field :middle_name, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Last Name %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Email %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :personal_email %>
            <%= form.email_field :personal_email, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# City %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :city %>
            <%= form.text_field :city, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# State %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :state %>
            <%= form.text_field :state, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Country %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :country %>
            <%= form.text_field :country, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Pincode %>
        <div class="col-lg-4">
        <div class="form-group mb-3">
            <%= form.label :pincode %>
            <%= form.text_field :pincode, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Address Line 1 %>
        <div class="col-lg-6">
        <div class="form-group mb-3">
            <%= form.label :address_line_1 %>
            <%= form.text_field :address_line_1, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Address Line 2 %>
        <div class="col-lg-6">
        <div class="form-group mb-3">
            <%= form.label :address_line_2 %>
            <%= form.text_field :address_line_2, class: 'form-control form-control-lg rounded-0' %>
        </div>
        </div>
    
        <%# Submit Button %>
        <div class="col-12 mt-3">
        <%= form.submit 'Save Employee', class: 'btn btn-primary w-100' %>
        </div>
    </div>
    <% end %>
 </div>   

