<h1>Employee Details</h1>

<p><strong>Name:</strong>
  <%= @employee.first_name %>
    <%= @employee.middle_name %>
      <%= @employee.last_name %>
</p>
<p><strong>Email:</strong>
  <%= @employee.personal_email %>
</p>
<p><strong>City:</strong>
  <%= @employee.city %>
</p>
<p><strong>State:</strong>
  <%= @employee.state %>
</p>
<p><strong>Country:</strong>
  <%= @employee.country %>
</p>
<p><strong>Pincode:</strong>
  <%= @employee.pincode %>
</p>
<p><strong>Address:</strong>
  <%= @employee.address_line_1 %>
    <%= @employee.address_line_2 %>
</p>

<% @employee.documents.each do |document| %>
  <div class="row my-5">
    <div class="col-lg-4" style="border: 1px solid red;">
      <% if document.image.attached? && document.image.content_type.starts_with?("image/") %>
        <%= image_tag document.image, class: "img-thumbnail" %>
          <% end %>
    </div>
    <div class="col-lg-4 my-5">
      <p><strong>Document Name:</strong>
        <%= document.name %>
      </p>
      <p><strong>Document Type:</strong>
        <%= document.doc_type %>
      </p>
      <p><strong>Created At:</strong>
        <%= document.created_at.strftime("%B %d, %Y") %>
      </p>
      <p><strong>Updated At:</strong>
        <%= document.updated_at.strftime("%B %d, %Y") %>
      </p>
      <%= link_to 'View Document' , document_path(document), class: 'btn btn-success' %>
        <%= link_to 'Edit Document' , edit_document_path(document), class: 'btn btn-primary' %>
          <%= link_to 'Delete Document' , document_path(document), method: :delete, data: { confirm: 'Are you sure?' },
            class: 'btn btn-danger' %>
    </div>
    <% end %>

      <%= link_to 'Edit Employee' , edit_employee_path(@employee), class: 'btn btn-primary' %>
        <%= link_to 'Back to Employees' , employees_path, class: 'btn btn-secondary' %>