<h1><%= @title %></h1>
<p><%= @message %></p>



<%= link_to 'About Us', url_for(controller: :pages, action: :about_us), target: '_blank' %>
<%= link_to 'Contact Us', url_for(controller: :pages, action: :contact_us), target: '_blank' %>
<%= link_to 'Privacy Policy', url_for(controller: :pages, action: :privacy_policy), target: '_blank' %>