<%= link_to 'Create New Document' , new_document_path, class: 'my-5' %>

  <div class="mt-5">
    <%= flash[:notice] %>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Doc Type</th>
            <th>Employee</th>
            <th>Edit</th>
            <th>Show</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @documents.each do |document| %>
            <tr>
              <td>
                <%= document.name %>
              </td>
              <td>
                <%= document.doc_type %>
              </td>
              <td>
                <%= document.employee_id %>
              </td>
              <td>
                <div class="col-lg-4">
                  <% if document.image.attached? %>
                    <%= image_tag document.image, class: "img-thumbnail" %>
                      <% else %>
                        <p>No Image Uploaded</p>
                        <% end %>
                </div>
              </td>
              <td>
                <%= link_to 'Edit' , edit_document_path(document), class: 'btn btn-sm btn-primary' %>
              </td>
              <td>
                <%= link_to 'View' , document_path(document), class: 'btn btn-sm btn-success' %>
              </td>
              <td>
                <%= link_to 'Delete' , document_path(document), method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
  </div>